@font-face {
    font-family: Gilroy; 
    src: url("fonts/Gilroy-Medium.woff2"),
    url("fonts/Gilroy-Medium.woff");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
   }

@font-face {
    font-family: Gilroy; 
    src: url("fonts/Gilroy-Bold.woff2"),
    url("fonts/Gilroy-Bold.woff");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
   }



body{
    margin: 0;

    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    color: #070707;
    -webkit-font-smoothing: antialiased;

   
}

ul{
    list-style: none;
    padding: 0;
   
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

p{
    margin: 0;
}


/*CONTAINER*/
.container{
    width: 100%;
    max-width: 974px;
    margin: 0 auto;
    padding: 0 15px;
    overflow-x: hidden;
}

/*HEADER*/
.header{
    width: 100%;
    height: 88px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;  
    
}

.header__inner{
    
    display: flex;
    justify-content: space-between;
    padding: 33px 0;
    align-items: center;
    border-bottom: 1px solid #828282;
    
}


/*NAV*/
.nav{
    display: flex;
    font-size: 18px;
    font-weight: 700;

}

.nav__link{
    margin-left: 156px;
    color: #828282;
    text-decoration: none;
    opacity: 1;
    transition: opacity .1s linear;

}
.nav__link:first-child{
    margin-left: 0px;
    color: #070707;
}
/*
.nav__link:last-child{
    margin-right: 0px;
   
}*/
 
.nav__link:hover{
    opacity: 0.75;
    
}

/*

.burger{
    display: none;
    background: none;
    border: 0;
    padding: 5px 2px;
    cursor: pointer;
}

.burger__item{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #070707;
    

    font-size: 0;
    color: transparent;
    
    position: relative;
}

.burger__item:before,
.burger__item:after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #070707;
   

    position: absolute;
    left: 0;
    z-index: 1;
}

.burger__item:before{
    top: -8px;
}

.burger__item:after{
    bottom: -8px;
}

*/


.intro{
    display: flex;
    padding-top: 128px;

}



.intro__text{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.intro__title{
    max-width: 124px;
    font-size: 47px;
    font-weight: 700;
    line-height: 59px;
    color: #070707;

    margin-right: 297px;
    

}

.intro__subtitle{
    max-width: 156px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #070707;

}


.intro__photo{
    width: 100%;
    margin-top: 50px;
}

.intro__photo--mobile {
    width: 100%;
    display:none;
}

.title{
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
    color: #070707;
    text-align: center; 
   
}

.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F6F6F6;
    margin: 120px 0 107px;
    padding-top: 120px;
    padding-bottom: 107px;
    text-align: center; 
   
}


.about__inner{
    margin: 18px 230px 0;
    max-width: 484px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
     
      
}

.about__text{
    text-align: center; 
    margin-bottom: 40px;
}

.skills{
   
   
    text-align: center;
    margin-bottom: 28px;
   
}

.skills__text{
    margin-top: 70px;
    margin-bottom: 87px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    
}


.skills__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.skills__item{
    width: 25%;
    min-width: 167px;
   
}


.skills__icon{
    margin-bottom: 24px;
    height: 90px;

}

.skills__name{
   
   margin-bottom: 40px;
    height: 28px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #828282;
    padding: 0 40px;
}

.skills__level{
    margin-bottom: 82px;
}

.portfolio{
    display: flex;
    background-color: #F6F6F6;
    padding-top: 112px;
}

.portfolio__inner{
    margin-top: 47px;
}

.portfolio__item{
    text-align: center;
    margin-bottom: 100px;
    
}

.portfolio__img{
    width: 100%;
    margin-bottom: 45px;
}

.portfolio__link{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color:#070707;
}


.contacts{
    margin-top: 114px;
    text-align: center;

}

.contacts__text{
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    margin: 20px 0 30px;

}

.contacts__btn{
    display: inline-block;
    vertical-align: top;
    padding: 13px 30px;
    background-color: #070707;
    border-radius: 30px;
    font-family: inherit;
    border:0;
    cursor: pointer;

    font-size: 18px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 45px;
    text-decoration: none;
    text-align: center;
    transition: background .1s linear;
}




.footer{
    margin: 40px 0 123px;
    text-align: center;

}


.social{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.social__link{
   padding: 0 30px;
}



.footer__text{
    margin-top: 45px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #828282;


}




@media (max-width: 768px) {

    
    .header__inner{
        border-bottom: none;
    
}

    .nav{
        display: none;
    }

    .burger{
        display: block;
    }

    
    .intro{
        padding-top: 65px;
    }

    .intro__title{
        width: 100%;

    }

    
    .intro__subtitle{
        width: 100%;

    }

    .about__inner{
        margin-left: 100px;
        margin-right: 100px;
    }

    .skills__item{
        width: 50%;
    }

}





@media (max-width: 498px){
    .about{
     /*   margin-top: 80px;
        margin-bottom: 76px;*/
        padding-top: 80px;
        padding-bottom: 76px;
    }

    .skills{
        margin-top: 80px;
    }

    .skills{
        margin-bottom: 18px;
    }

    .portfolio{
        padding-top: 80px;
    }

    .contacts{
        margin-top: 80px;
    }

    .footer{
    margin-top: 10px;
    margin-bottom: 90px;
    }

    .intro__photo--mobile {
        display:block;
    }
    .intro__photo {
        display: none;
    }

    .intro__text{
        margin-bottom: 37px;
    }


    .skills__item{
        width: 100%;
    }

     .about__inner{
        margin-left: 30px;
        margin-right: 30px;
    }
   

    .contacts__btn{
    
    padding: 13px 97px;
    }

    .footer__text{
        font-size: 18px;
        line-height: 22px;
    }

}


@media (max-width: 321px){

    .contacts__btn{
        font-size: 14px;
    }
    
    .social__link{
         padding: 0 20px;
    }

}
